<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Style/login/forgotpassword.css">
    <title>Forgot your password?</title>
</head>
<body>
    <main>
        <form id="id-form-forgot">
            <section id="forgot-section-one">
                <h2 id="heading-forgot">Forgot your password?</h2>
            </section>

            <section id="forgot-section-two">
                <input class="forgot-input"  size="30" type="text" placeholder="Name" >
                <input class="forgot-input" size="30" type="email" placeholder="Email">

            </section>

            <section id="forgot-section-three">
                <a href="/View/login/index.html">Go back to login page</a>
            </section>

            <a id="forgot-reset-button" href="/View/dashboard/home.html">Reset your password</a>
            
        </form>
       
        </form>

    </main>
    
</body>
</html>