:root {
    --gris-claro: #f8f8fa;
    --gris-mediano: #cacedc;
    --gris-azulado: #dddfea;
    --morado: #7568a8;
    --azul-suave: #a3adc9;
    --azul-celeste: #a0d4e1;
    --rosa: #e0a8e1;
    --hover-barra: #4b4275;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.main  {
    display: flex;
    height: 100vh;
}

.menu {
    background-color: var(--morado); 
    width: 10vh;
    height: 100vh; 
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.logo img {
    width: 100%;       
    height: auto;
    object-fit: cover; 
    display: block;   
}

.barra {
    color: var(--morado);
}

.barra a {
    display: flex; 
    flex-direction: column;
    color: var(--gris-azulado);
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
}

.data-card {
    padding: 40px;
    flex-grow: 1;
}

.card {
    background-color: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    margin: 0 auto;
    text-align: center; 
}

.card h2 {
    margin-bottom: 20px;
    font-size: 26px;
    color: var(--morado);
    text-align: center; 
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px; 
}

thead {
    background-color: #3498db;
    color: white;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #eaeaea;
}

th {
    font-weight: 600;
    text-transform: uppercase;
}

td {
    font-size: 16px;
    color: #2c3e50;
}

