@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');
body{
  background-color: #f2f2f2;;
  display: flex;              
  justify-content: center;       
  align-items: center;
  height: 100vh;                 
  margin: 0;   
}

#header2-login{
    font-size: 40px;
    font-family: 'Lora', serif;
    font-weight: 400;
    font-style: italic;
}

#idform{
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.4) ;
    border-radius: 30px;
    border-style: solid;
    border-color: grey;
    border-width: 3px;
    width: 1100px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  /*JustifyCOntent = MainAxisAligment
    Align-Items =CrossAxisAligment*/
#section-uno {


  display: flex;
  flex-direction: column;
  align-items:start;
  justify-content: end;
  width: 900px;
  height: 250px;

}

#section-dos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 900px;
  height: 170px;
}

.login-input{
    border-radius: 10px;
    padding: 15px 0px;
    height: 50px;
    color: black;
    font-style: italic;
    font-size: 20px;
    border: none;                
    border-bottom: 1px solid grey;
}

.login-input::placeholder{
    padding-left: 10px;
}

#section-tres{

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 1000px;
  height: 110px;
}

#section-tres a{
    color: #a3adc9;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 550;
    font-style: italic;
}

#login-div-buttons{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


#login-button-one{
  text-decoration: none;
  /* width: 500px; 
  height: 80px; */
  height: 100%;
  width: 50%;
  font-family: 'Times New Roman',sans-serif;
  font-size: 30px; 
  text-align: center;
  background-color: #cacedc;
  color: #f8f8fa; 
  line-height: 80px; 
  border-radius: 0px 0px 25px 0px; 

}

#login-button-two{
  text-decoration: none;
  height: 100%;
  width: 50%;
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px; 
  margin-bottom: 3px; 
  text-align: center;
  background-color: #7568a8;
  color: #f8f8fa;
  line-height: 80px; 
  /* border-radius: 5px;  */
  border-radius: 0px 0px 0px 25px; 
}


