<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos</title>
    <link rel="stylesheet" href="/Style/data.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <main class="main">
        <section class="menu">
            <div class="logo">
                <img src="/Assets/dashboard/logo.png" alt="">
            </div>
            <nav class="barra">
                <a href="/View/dashboard/home.html"><span class="material-icons">home</span>Home </a>
                <a href="/View/dashboard/form.html"><span class="material-icons">assignment</span> Formulario </a>
                <a href="/View/dashboard/data.html"><span class="material-icons">data_usage</span>Data</a>
            </nav>
        </section>
        
        <section class="data-card">
            <div class="card">
                <h2>Datos recibidos</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Campo</th>
                            <th>Valor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Nombre</td>
                            <td>John Doe</td>
                        </tr>
                        <tr>
                            <td>Género favorito</td>
                            <td>Acción</td>
                        </tr>
                        <tr>
                            <td>Tipo de películas</td>
                            <td>Cine</td>
                        </tr>
                        <tr>
                            <td>Frecuencia de ver películas</td>
                            <td>Semanalmente</td>
                        </tr>
                        <tr>
                            <td>Plataforma preferida</td>
                            <td>Netflix</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </main>
</body>
</html>
