<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../../Style/home.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
    <body>
        <main class="main">
            <section class="menu">
                <div class="logo">
                    <img src="../../Assets/dashboard/logo.png" alt="">
                </div>
                <nav class="barra">
                    <a href="./home.html"><span class="material-icons">home</span>Home </a>
                    <a href="./form.html"><span class="material-icons">assignment</span> Form</a>
                    <a href="./data.html"><span class="material-icons">data_usage</span>Data</a>
                </nav>
            </section>
            <section class="carrusel">
                <div class="imagen-carrusel">
                    <div class="card-imagen">
                        <img src="../../Assets/dashboard/stranger.jpg" alt="">
                    </div>
                </div>
                <div class="info-carrusel">
                    <div class="card-info">
                        <h1>Stranger Things</h1>
                        <p>"Stranger Things" sigue a un grupo de amigos en los años 80 que investigan
                             la desaparición de uno de ellos y descubren una niña con poderes psíquicos y
                            una dimensión paralela llena de criaturas peligrosas</p>
                        <p>Genero: Misterio. Terror. Suspenso.</p>

                    </div>
                </div>
            </section>
        </main>

    </body>
</html>