<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Style/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap" rel="stylesheet">
      
      
    <title>Login</title>
</head>
<body>
    <main>

    <form id="idform">
     

        <section id="section-uno">
            <h2 id="header2-login">Login</h2>
            <img src="../Assets/pruebadefinitiva.png" alt="imagen-logo">
        </section>

        <section  id="section-dos">
            <input class="login-input"  size="30" type="email" id="idemail" name="email" placeholder="Email">
            <input class="login-input" size="30" type="password" id="idpass" name="pass" placeholder="Password">
        </section>

        <section id="section-tres">    
            <a href="forgotpassword.html">Forgot your password?</a>
        </section>

        <div id="login-div-buttons">
            <a id="login-button-two" href="register.html">Register</a>
          <a id="login-button-one" href="otraruta">Login</a>
        
        </div>

        
    </form> 

    </main>
</body>
</html>