<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Style/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">
    <title>Login</title>
</head>
<body>
    <main>

    <form id="idform">
        <section id="section-uno">
            <h2 id="header2-login">LOGIN</h2>
        </section>

        <section  id="section-dos">
            <input class="login-input"  size="30" type="email" id="idemail" name="email" placeholder="Email">
            <input class="login-input" size="30" type="password" id="idpass" name="pass" placeholder="Password">
        </section>

        <section id="section-tres">    
            <a href="aquivalarutadecontraseñaolvidada">FORGOT YOUR PASSWORD?</a>
        </section>

        <div id="login-div-buttons">
            <button id="login-button-one" type="submit">REGISTER</button>
          <a href="aquivarutaderegister"><button id="login-button-two" type="submit">SIGN IN</button>    </a>  
        </div>

        </button>
    </form> 

    </main>
</body>
</html>