<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Style/register.css">
    <title>Register</title>
</head>
<body>
    <main>
        <form id="id-form-register">
            <section id="register-section-one">
                <h2 id="heading-register">Create your account</h2>
            </section>

            <section id="register-section-two">
                <input class="register-input"  size="30" type="text" id="idtext" name="text" placeholder="Name" >
                <input class="register-input" size="30" type="email" id="idemail" name="email" placeholder="Email">
                <input class="register-input" size="30" type="password" id="idpass" name="pass" placeholder="Password">
            </section>

            <section id="register-section-three">
                <a href="login.html">Already a member?</a>
            </section>

            <a id="register-create-button" href="./dashboard/home.html">Create account</a>
            
        </form>

    </main>
    
</body>
</html>